{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ else if eq .chezmoi.os "linux" }}
{{   if eq .chezmoi.osRelease.id "arch" }}
#!/bin/bash
	sudo pacman -S --needed --noconfirm \
	{{- range .packages.arch.pacman }}
	  {{ . | quote }} \
	{{- end }}
{{   end }}
{{ end -}}
