{{- if eq .chezmoi.os "darwin" }}
#!/usr/bin/env bash
set -euo pipefail

brew bundle --file=/dev/stdin <<EOF
{{- range .packages.darwin.brews }}
brew {{ . | quote }}
{{- end }}
{{- range .packages.darwin.casks }}
cask {{ . | quote }}
{{- end }}
EOF
{{- else if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch") }}
#!/usr/bin/env bash
set -euo pipefail

sudo pacman -S --needed --noconfirm {{ join " " .packages.arch.pacman }}
{{- end }}

